<ion-header>
  <ion-toolbar color="ocean" class="chckpt-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="left-user-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'ADDRESSES' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-nav-link>
    <ion-icon slot="end" class="chckpt-notif" (click)="showNotifications()" name="notifications" size="large"></ion-icon>
  </ion-nav-link>
</ion-header>

<ion-content>
  <ion-text></ion-text>
  <div id="map" class="match-parent"></div>
</ion-content>

<ion-tab-bar class="yellow-bg" slot="bottom">
  <ion-tab-button class="yellow-bg" tab="profile" (click)="openOrder()">
    <ion-label>{{ 'ORDER' | translate }}</ion-label>
    <ion-icon name="construct" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
  <ion-tab-button class="yellow-bg" tab="map" (click)="openCall()">
    <ion-label>{{ 'CALL' | translate }}</ion-label>
    <ion-icon name="call" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
