.chckpt-toolbar{
  //background-color: #f9df13;
  float: left;
  width: 80%;
}

.chckpt-notif{
  color: #ffffff;
  float: right;
  width: 10%;
  margin: 10px;
}

ion-content{
  width: 100%;
  height: 100%;
}

//#map{
//  background-color: #2aabd2;
//  width: 100%;
//  height: 90% !important;
//  min-height: 100%;
//}
body { margin: 0; padding: 0; }
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
