<ion-header>
  <ion-toolbar color="gold" class="chckpt-toolbar">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
    </ion-buttons>
    <ion-title color="ocean" slot="end">
      {{'PROMOTION' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<img src="http://www.checkpoint.kg/uploads/news/full/{{promotion[3]}}">
<ion-content class="make-order-content ion-padding">
  <ion-card>
    <ion-card-header>{{promotion[1]}}</ion-card-header>
    <ion-card-title>{{promotion[1]}}</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-content [innerHTML]="promotion[2]"></ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar class="ocean-bg" slot="bottom">
  <ion-tab-button class="ocean-bg" tab="profile" (click)="openOrder()">
    <ion-label>{{ 'ORDER' | translate }}</ion-label>
    <ion-icon name="construct" color="gold" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
