:root {
    /** gold **/
    --ion-color-gold: #f9df13;
    --ion-color-gold-rgb: 249, 223, 19;
    --ion-color-gold-contrast: #000000;
    --ion-color-gold-contrast-rgb: 0, 0, 0;
    --ion-color-gold-shade: #e2cb11;
    --ion-color-gold-tint: #f9ea1d;

    /** ocean **/
    --ion-color-ocean: #113483;
    --ion-color-ocean-rgb: 17, 52, 131;
    --ion-color-ocean-contrast: #000000;
    --ion-color-ocean-contrast-rgb: 0, 0, 0;
    --ion-color-ocean-shade: #143c98;
    --ion-color-ocean-tint: #3b5ec0;
}

.ion-color-gold {
    --ion-color-base: var(--ion-color-gold) !important;
    --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
    --ion-color-contrast: var(--ion-color-gold-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-gold-shade) !important;
    --ion-color-tint: var(--ion-color-gold-tint) !important;
}

.ion-color-ocean {
    --ion-color-base: var(--ion-color-ocean) !important;
    --ion-color-base-rgb: var(--ion-color-ocean-rgb) !important;
    --ion-color-contrast: var(--ion-color-ocean-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-ocean-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-ocean-shade) !important;
    --ion-color-tint: var(--ion-color-ocean-tint) !important;
}

