<ion-header>
  <ion-toolbar color="gold" class="chckpt-toolbar">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
    </ion-buttons>
    <ion-title color="ocean" slot="end">
      Запись на обслуживание
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="make-order-content ion-padding">

  <form [formGroup]="orderForm" (ngSubmit)="sendOrder(orderForm.value)">
    <ion-label class="order-label" color="ocean">Выберите дату:</ion-label>
    <ion-datetime formControlName="serviceDate" class="choose-value" displayFormat="MMM DD, YYYY" display-timezone="utc"></ion-datetime>

    <ion-label class="order-label" color="ocean">Выберите точку обслуживания:</ion-label>
    <ion-select formControlName="serviceStore" class="choose-value" placeholder="Выберите точку обслуживания">
      <ion-select-option [value]="store['id']" *ngFor="let store of stores">{{store["title"]}}</ion-select-option>
    </ion-select>

    <ion-label class="order-label" color="ocean">Выберите время:</ion-label>
    <ion-datetime formControlName="serviceTime" class="choose-value" displayFormat="HH:mm" display-timezone="utc"></ion-datetime>

    <ion-label class="order-label" *ngIf="authService.isAuthenticated()" color="ocean">Выберите автомобиль:</ion-label>
    <ion-select formControlName="servicedCar" *ngIf="authService.isAuthenticated()" class="choose-value" placeholder="Выберите автомобиль">
      <ion-select-option [value]="car['id']" *ngFor="let car of cars">{{car["name"]}} - {{car["number"]}}</ion-select-option>
      <ion-select-option [value]="0">{{ 'OTHER CAR' | translate }}</ion-select-option>
    </ion-select>

    <div *ngIf="orderForm.controls['servicedCar'].value === 0 || !authService.isAuthenticated()">
      <ion-input formControlName="carBrand" class="choose-value" type="text" placeholder="{{'CAR BRAND' | translate}} (Toyota)"></ion-input>
      <ion-input formControlName="carModel" class="choose-value" type="text" placeholder="{{'CAR MODEL' | translate}} (Supra)"></ion-input>
      <ion-input formControlName="engineVolume" class="choose-value" type="text" placeholder="{{'ENGINE VOLUME' | translate}} (3.0)"></ion-input>
      <ion-input formControlName="gearBox" class="choose-value" type="text" placeholder="{{'GEAR BOX' | translate}} ({{'AUTOMATIC TRANSMISSION' | translate}})"></ion-input>
      <ion-input formControlName="fuelType" class="choose-value" type="text" placeholder="{{'FUEL TYPE' | translate}}"></ion-input>
      <ion-input formControlName="carYear" class="choose-value" type="text" placeholder="{{'YEAR' | translate}}"></ion-input>
      <ion-input formControlName="carNumber" class="choose-value" type="text" placeholder="{{'CAR NUMBER' | translate}}"></ion-input>
      <ion-input formControlName="userPhone" class="choose-value" type="number" placeholder="{{'PHONE' | translate}}"></ion-input>

      <ion-select formControlName="driveType" class="choose-value" placeholder="{{'DRIVE TYPE' | translate}}">
        <ion-select-option value="fwd">{{ 'FWD' | translate }}</ion-select-option>
        <ion-select-option value="awd">{{ 'AWD' | translate }}</ion-select-option>
        <ion-select-option value="rwd">{{ 'RWD' | translate }}</ion-select-option>
        <ion-select-option value="4wd">{{ '4WD' | translate }}</ion-select-option>
        <ion-select-option value="other">{{ 'OTHER' | translate }}</ion-select-option>
      </ion-select>
    </div>

    <ion-button expand="full" class="order-label" color="gold" (click)="presentAlertCheckbox()">{{'CHOOSE NEEDED SERVICES' | translate}}</ion-button>

    <ion-textarea formControlName="comments" class="choose-value" maxlength="256" placeholder="{{'COMMENTS' | translate}}"></ion-textarea>

  </form>
</ion-content>

<ion-tab-bar class="blue-bg" slot="bottom">
  <ion-tab-button class="send-bottom-button blue-bg yellow-text txt-size-lg" tab="profile" (click)="sendOrder(orderForm.value)" type="submit">
    <ion-label>{{ 'SEND' | translate }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
