$dark-blue-col: #113483;
$yellow-col: #f9df13;
$yellow-col-dark: #bfab0e;
$light-bg: #ffffff;


.make-order-content{

  .choose-value{
    border: solid $dark-blue-col 1px;
    border-radius: 5px;
    padding-top: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .order-label{
    font-weight: bold;
  }
}

.yellow-text-dark{
  color: $yellow-col-dark;
}
