<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" menuId="left-user-menu" contentId="main-content" type="overlay" class="profile-menu">
      <ion-header>
        <ion-toolbar color="gold">
          <ion-title>{{'MENU' | translate}}</ion-title>
          <ion-icon name="arrow-back" color="ocean" (click)="hideMenu()" slot="end" size="large" class="chckpt-prof"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" menu="left-user-menu">
            <ion-item *ngIf="authState && !p.anon && p.signed" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="!authState && p.anon" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="authState && p.anon && p.signed" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-menu side="end" menuId="right-notif-menu" contentId="main-content" class="notifications-menu">
      <ion-header>
        <ion-toolbar color="gold">
          <ion-nav-link [component]="NotificationsList">
            <ion-icon slot="end" class="chckpt-notif" color="ocean" (click)="hideNotifications()" name="arrow-forward" size="large"></ion-icon>
          </ion-nav-link>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <app-notifications-list></app-notifications-list>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
