<ion-header>
  <ion-toolbar color="#f9df13" class="chckpt-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      User profile
    </ion-title>
  </ion-toolbar>
  <ion-icon class="chckpt-notif" name="notifications" size="large"></ion-icon>
</ion-header>

<ion-content>

</ion-content>
