<ion-header>
  <ion-toolbar color="ocean" class="chckpt-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="left-user-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'PROFILE' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-nav-link>
    <ion-icon slot="end" class="chckpt-notif" (click)="showNotifications()" name="notifications" size="large"></ion-icon>
  </ion-nav-link>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Приветствуем вас, {{nickName}}&nbsp;
    </ion-item>
    <ion-item>
      <span>{{secondName}}</span>&nbsp;
      <span>{{userName}}</span>&nbsp;
      <span>{{patronym}}</span>&nbsp;
    </ion-item>
    <ion-item>
      Телефон:&nbsp;<span>{{phone}}</span>
    </ion-item>
  </ion-list>
</ion-content>

<ion-tab-bar class="yellow-bg" slot="bottom">
  <ion-tab-button class="yellow-bg" tab="profile" *ngIf="auth.isAuthenticated()" (click)="openOrder()">
    <ion-label>{{ 'ORDER' | translate }}</ion-label>
    <ion-icon name="construct" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
  <ion-tab-button class="yellow-bg" tab="map">
    <ion-label>{{ 'CALL' | translate }}</ion-label>
    <ion-icon name="call" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
