<ion-header>
  <ion-toolbar color="ocean" class="chckpt-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="left-user-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'CAR HISTORY' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-nav-link>
    <ion-icon slot="end" class="chckpt-notif" (click)="showNotifications()" name="notifications" size="large"></ion-icon>
  </ion-nav-link>
</ion-header>

<!--https://stackblitz.com/edit/angular-fq4tnb-->
<ion-content>
  <ion-card class="car-card">
    <ion-card-header>
      <ion-card-title>{{carInfoData['name']}} {{carInfoData['model']}} - {{carInfoData['year']}}</ion-card-title>
      <ion-card-subtitle>Объем: {{carInfoData['engine_capacity']}} Топливо: {{carInfoData['engine_type']}} Трансмиссия: {{carInfoData['transmission_type']}} Привод: {{carInfoData['drive_type']}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="car-card-content">
      <div class="car-history-item" *ngFor="let item of groupByName | keyvalue: originalOrder">
        <ion-datetime class="car-date" value="{{item.value['date']}}" translate="yes"></ion-datetime>

        <ion-label class="car-card-label" color="ocean">Наименования услуг:</ion-label>
        <div class="car-service-type" *ngFor="let hdbk_title of item.value['hdbk_title']">{{hdbk_title}}</div>

        <ion-label class="car-card-label" color="ocean">Пробег:</ion-label>
        <div class="car-service-type" *ngFor="let mileage of item.value['mileage']">{{mileage}}</div>

        <ion-label class="car-card-label" color="ocean">Интервал пробега:</ion-label>
        <div class="car-service-type" *ngFor="let mileage_interval of item.value['mileage_interval']">{{mileage_interval}}</div>

        <ion-label class="car-card-label" color="ocean">Купленные товары:</ion-label>
        <div class="car-service-product" *ngFor="let product_name of item.value['product_name']">
          <div>{{product_name}}</div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="gold" (click)="backClicked()">
      <ion-icon color="ocean" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-tab-bar class="yellow-bg" slot="bottom">
  <ion-tab-button class="yellow-bg" tab="map" (click)="presentAlertCheckbox()" #autoCalculate>
    <ion-label>{{ 'CALCULATOR' | translate }}</ion-label>
    <ion-icon name="calculator" size="large" color="danger" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
