$dark-blue-col: #113483;
$yellow-col: #f9df13;
$light-bg: #ffffff;


.chckpt-toolbar{
  //background-color: #f9df13;
  float: left;
  width: 80%;
}

.chckpt-notif{
  color: #ffffff;
  float: right;
  width: 10%;
  margin: 10px;
}

.car-card{
  .car-date{
    font-weight: bold;
    color: gray;
    text-align: center;
    margin-top: 10px;
  }
  .car-service-type{

  }
  .car-service-product{

  }
  .car-card-label{
    font-weight: bold;
    font-size: larger;
  }
  .car-card-content{

  }
  .car-history-item{
    border-bottom: darkgrey solid 1px;
    padding-bottom: 10px;
  }
}
