<ion-header>
  <ion-toolbar color="ocean" class="chckpt-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="left-user-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-nav-link *ngIf="auth.isAuthenticated()">
    <ion-icon slot="end" class="chckpt-notif" (click)="showNotifications()" name="notifications" size="large"></ion-icon>
  </ion-nav-link>
</ion-header>

<ion-content class="ion-padding">
  <ion-input [(ngModel)]="username" class="chckp-border-def chckpt-text-def" placeholder="Nickname"></ion-input>
  <ion-input [(ngModel)]="password" type="password" class="chckp-border-def chckpt-text-def" placeholder="password here"></ion-input>
  <ion-button (click)="login()" expand="block">{{'LOGIN' | translate}}</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">{{'REGISTER' | translate}}</ion-button>
</ion-content>

<ion-tab-bar class="yellow-bg" slot="bottom">
  <ion-tab-button class="yellow-bg" tab="profile" (click)="openOrder()">
    <ion-label>{{ 'ORDER' | translate }}</ion-label>
    <ion-icon name="construct" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
  <ion-tab-button class="yellow-bg" tab="map" (click)="openCall()">
    <ion-label>{{ 'CALL' | translate }}</ion-label>
    <ion-icon name="call" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
