.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden; }

.logo {
  width: 80%;
  margin: 0 auto; }

.chckpt-toolbar {
  float: left;
  width: 80%; }

.chckpt-notif {
  color: #ffffff;
  float: right;
  width: 10%;
  margin: 10px; }

/*# sourceMappingURL=home.page.css.map */
