.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.logo{
  width: 80%;
  margin: 0 auto;
}

.chckpt-toolbar{
  //background-color: #f9df13;
  float: left;
  width: 80%;
}

.chckpt-notif{
  color: #ffffff;
  float: right;
  width: 10%;
  margin: 10px;
}

ion-col {
  display: flex;
  justify-content: center;
  padding: 4px;

  ion-card.promo-card {
    border-radius: 10px;
  }
}

.content-title{
  margin-top: 20px;
}
