<ion-header>
  <ion-toolbar color="ocean" class="chckpt-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="left-user-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-nav-link *ngIf="auth.isAuthenticated()">
    <ion-icon slot="end" class="chckpt-notif" (click)="showNotifications()" name="notifications" size="large"></ion-icon>
  </ion-nav-link>
</ion-header>

<ion-content>
  <ion-title class="content-title">
      {{'PROMOTIONS' | translate}}
    </ion-title>
  <ion-grid>
    <ion-row *ngFor="let pair of promoList; let ind = index;">
      <ion-col *ngFor="let promo of pair">
        <ion-card class="promo-card" (click)="openPromo(promo['id'])">
          <img [src]="promo['image']" alt="checkpoint"/>
          <ion-card-header>
            <ion-icon name="pin" slot="start"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>{{promo['title']}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tab-bar class="yellow-bg" slot="bottom">
  <ion-tab-button class="yellow-bg" tab="profile" (click)="openOrder()">
    <ion-label>{{ 'ORDER' | translate }}</ion-label>
    <ion-icon name="construct" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
  <ion-tab-button class="yellow-bg" tab="map" (click)="openCall()">
    <ion-label>{{ 'CALL' | translate }}</ion-label>
    <ion-icon name="call" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
