$gold: #f9df13;
$ocean: #113483;


.blue-color{
  color: $ocean;
}

.gold-color{
  color: $gold;
}

.ocean-bg{
  background-color: $ocean;
  color: $gold;
}

.gold-bg{
  background-color: $gold;
  color: $ocean;
}

.danger{
  background-color: #f04141;
  color: #ffffff;
}
