<ion-header>
  <ion-toolbar color="gold" class="chckpt-toolbar">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
    </ion-buttons>
    <ion-title color="ocean" slot="end">
      {{'CALCULATION' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="blue-color">{{'SERVICE' | translate}}</ion-col>
      <ion-col class="blue-color">{{'MILEAGE' | translate}}({{'OVERMILEAGE' | translate}})</ion-col>
    </ion-row>
    <ion-row *ngFor="let service of calculation">
      <ion-col [ngClass]="{'danger': service['difference'] <= 0}">{{service['title']}}</ion-col>
      <ion-col [ngClass]="{'danger': service['difference'] <= 0}">{{service['difference']}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tab-bar class="ocean-bg" slot="bottom">
  <ion-tab-button class="ocean-bg" tab="profile" (click)="openOrder()">
    <ion-label>{{ 'ORDER' | translate }}</ion-label>
    <ion-icon name="construct" color="gold" size="large" class="tab-button has-icon icon-only"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
