// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "theme/custom-colors.scss";
@import "~mapbox-gl/dist/mapbox-gl.css";

$dark-blue-col: #113483;
$yellow-col: #f9df13;
$yellow-col-dark: #ac9a0d;
$light-bg: #ffffff;

body{
  color: $dark-blue-col;
  ion-header, .chckpt-toolbar{
    background-color: $dark-blue-col;
  }
  ion-toolbar{
    color: $light-bg;
  }

  .chckp-border-def{
    border: $dark-blue-col 1px solid;
    border-radius: 5px;
  }

  .chckpt-text-def{
    color: $dark-blue-col;
  }

  ion-menu{
    ion-header{
      color: $dark-blue-col;

      ion-toolbar{
        background: $dark-blue-col;

        ion-title{
          color: $dark-blue-col;
        }
      }
    }
  }

  .blue-text{
    color: $dark-blue-col;
  }

  .yellow-text{
    color: $yellow-col;
  }

  .yellow-text-exact{
    color: $yellow-col !important;
  }

  .yellow-bg{
    background-color: $yellow-col;
  }

  .blue-bg{
    background-color: $dark-blue-col;
  }

  .profile-menu{
    ion-icon.chckpt-prof{
      margin: 5px 10px 0px 10px;
    }
  }

  .notifications-menu{
    ion-icon.chckpt-notif{
      margin: 5px 10px 0px 10px;
    }
  }

  .txt-size-lg{
    font-size: large;
  }

  .send-bottom-button{
    width: 100%;
  }

  ion-menu.notifications-menu{
    --width: 100%;
  }

  .alert-head.sc-ion-alert-md{
    max-width: 100% !important;
  }

  ion-alert .alert-wrapper.sc-ion-alert-md {
    min-width: 90% !important;

    .alert-checkbox-group{
      height: 100%;
      max-height: inherit;
    }
  }
}
