<ion-header>
  <ion-toolbar color="gold" class="chckpt-toolbar">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back" color="ocean" size="large" class="tab-button has-icon icon-only"></ion-icon>
    </ion-buttons>
    <ion-title color="ocean" slot="end">
      {{'CALL TO ANY NUMBER' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="make-order-content ion-padding">
  <ion-list>
    <ion-radio-group value="phone">
      <ion-list-header>
        <ion-label>{{'CHOOSE PHONE NUMBER' | translate}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>{{'DJAL' | translate}}</ion-label>
        <ion-icon name="call"></ion-icon> +996 707 611 145
        <ion-radio class="call-radio" slot="start" (click)="setNumber(djal.value)" ref-djal value="+996 707 611 145"></ion-radio>
        <ion-text>ул. Садырбаева, 128</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>{{'JIBEK-JOLU' | translate}}</ion-label>
        <ion-icon name="call"></ion-icon> +996 555 181 111
        <ion-radio slot="start" (click)="setNumber(jibek_jolu.value)" ref-jibek_jolu value="+996555181111"></ion-radio>
        <ion-text>ул. Жибек-Жолу, 220/2</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>{{'CHORTEKOVA' | translate}}</ion-label>
        <ion-icon name="call"></ion-icon> +996 704 611 145
        <ion-radio slot="start" (click)="setNumber(chortekova.value)" ref-chortekova value="+996704611145"></ion-radio>
        <ion-text>ул. Чортекова, 167а</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>{{'VOSTOK-5' | translate}}</ion-label>
        <ion-text>ул. Айтматова 47а</ion-text>
        <ion-icon name="call"></ion-icon> +996 704 611 145
        <ion-radio slot="start" (click)="setNumber(vostok_5.value)" ref-vostok_5 value="+996556181111"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-tab-bar class="blue-bg" slot="bottom">
  <ion-tab-button [ngClass]="buttonClass" class="send-bottom-button blue-bg yellow-text txt-size-lg" tab="profile" (click)="doCall(number)" type="submit">
    <ion-label>{{ 'CALL' | translate }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
