$gold: #f9df13;
$ocean: #113483;

.deactivated{
  background-color: $ocean;
  color: $ocean;
}

.activated{
  background-color: $gold;
  color: $ocean;
}

ion-item{
  //min-height: 100px;
}

.call-radio{
  width: 20px;
  height: 20px;
}
